@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Titan One', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}





